/*
 * FOOD MENU
 */

.food-category {
  padding: 4rem 6rem 0rem 6rem;
  
}

.food-category h2 {
  margin-bottom: 2.8rem;
}

.menu-item {
  padding: 0.5rem;
  
}

.food-image {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.food-image img{
  width: 100%;
}

.food-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
 
}

.food-title:before {
  position: absolute;
  top: 6px;
  left: 20px;
  right: 20px;
  height: 1px;
  border-top: 2px dotted rgba(0, 0, 0, 1);
  display: block;
  content: '';
}

.food-name {
  position: relative;
  padding-right: 15px;
  background: #fff;
}

.food-price {
  position: relative;
  padding-left: 15px;
  background: #fff;
}

.food-ingredients {
  padding-top: 10px;
}

.food-horizontal-rule {
  margin: 0;
}

.hover:hover{
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius:  25px 25px 25px 25px;
  border: 3px solid white;
  width: 600px;
  margin-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.food-ingredients2 {
  padding-top: 10px;
  padding-left: 30px;
}